body {
    margin: 0;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 5fr;
    min-height: 100vh;
}
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #4998cc;

}
.sidebar > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-right: 1.5rem;
}
.sidebar > ul > li {
    display: flex;
    gap: 15px;
    color: whitesmoke;
    font-weight: 700;
}
.sidebar > ul > li:nth-child(1) {
    font-size: 20px;
    padding-bottom: 2rem;
}
.sidebar > ul > li:nth-child(7) {
    padding-bottom: 2.2rem;
}
header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.main-content {
    background-color: gray;
}