body {
    margin: 0;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 6fr;
    min-height: 100vh;
}
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #4998cc;

}
.sidebar > ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-right: 1.5rem;
}
.sidebar > ul > li {
    display: flex;
    gap: 15px;
    color: whitesmoke;
    font-weight: 700;
}
.sidebar > ul > li:nth-child(1) {
    font-size: 20px;
    padding-bottom: 2rem;
}
.sidebar > ul > li:nth-child(7) {
    padding-bottom: 2.2rem;
}
header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display:grid;
    margin: .5rem 2rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
   
}
.main-content {
    background-color: gray;
}
.icon {
    height: 50px;
    width: 50px;
}
.notification {
    height: 20px;
    width: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}
#search {
    width: 80%;
}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greeting {
    display: flex;
    align-items: center;
}
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-buttons > button {
    width: 27%;
    height: 20%;
    border-radius: 10px;
    border-style: none;
    background-color: #4998cc;
    color: whitesmoke;
    font-size: small;
}