@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-rows: 1fr 6fr;
    min-height: 100vh;
}
.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #0ea5e9;

}
.sidebar-items {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-right: 1.5rem;
}
.sidebar-items > li {
    display: flex;
    gap: 15px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 700;
    align-items: center;
}
.sidebar-items > li > img {
    height: 16px;
    width: 16px;
}
.sidebar-items > li:nth-child(1) {
    font-size: 22px;
    padding-bottom: 2rem;
}
.sidebar-items > li:nth-child(1) > img {
    height: 22px;
    width: 22px;
}
.sidebar > ul > li:nth-child(7) {
    padding-bottom: 2.2rem;
}
header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display:grid;
    margin: .5rem 2rem;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
   
}
.main-content {
    background-color: #e4e4e7;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}
.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.icon {
    height: 50px;
    width: 50px;
}
.notification {
    height: 20px;
    width: 20px;
}
.search-bar {
    display: flex;
    align-items: center;
    gap: 15px;
}
#search {
    width: 80%;
}
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greeting {
    display: flex;
    align-items: center;
}
.header-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-buttons > button {
    width: 27%;
    height: 20%;
    border-radius: 10px;
    border-style: none;
    background-color:#0ea5e9;
    color: whitesmoke;
    font-size: small;
}
.project-icons {
    height: 25px;
    width: 25px;
}
.trending-icon {
    height: 40px;
    width: 40x;
}
h4 {
    margin-left: 15px;
    margin-bottom: 5px;
}
h5 {
    margin: 0;
}
.card > div > p, .announcement-card > div > p {
    margin-top: 5px;
}
.project-cards {
    margin-left: 15px;
    display: grid;
    grid-template-columns: repeat(2, min(600px, 50%));
    grid-template-rows: repeat(3, max(300px, 30%));
    gap: 20px;
}
.card {
    border-radius: 5px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    justify-content: space-evenly;
    box-shadow: -5px 0px 0px orange;
}
.card > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.card > span {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.announcements, .trending {
    margin-right: 1.5rem;
}
.announcements > h4 {
    margin-left: 0;
}
.announcement-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: whitesmoke;
    border-radius: 5px;
    align-items: center;
    padding: 1.3rem;

}
.announcement-card > div {
    border-bottom: solid 1px gray;
}
h6 {
    margin-bottom: 5px;
}
.trending-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 1.5rem;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 1.3rem;
}
.trending-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}
.trending-item > img + span > p {
    margin: 0;
}